body {
    background-color: rgba(0, 0, 0, 0.69);
}

#title {
    color: white;
    font-family: 'Lobster', cursive;

}

#quoteArea {
    padding: 6% 0 16% 0;
}

#quote {
    font-size: 30pt;
}

#floater {
    margin: auto;
    position: absolute;
    height: 30em;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#content {

    margin: auto;
    background-color: white;

    border-style: inset;
    border-width: 2px;
    border-radius: 10px;

    height: 100%;

    padding: 3%;
}
