body {
    background-color: rgba(0, 0, 0, 0.69);
}

#title {
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: x-large;
    margin: 0 auto;
    display: table;

    margin-bottom: 2em;
}

#calculator {


    background-color: white;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    padding: 10px;
}

#buttons {
    width: 95%;
    margin: 0 auto;
}

#buttons td {
    padding-bottom: 10px;
}

.key:focus {
    border-style: inset;
}

.key {
    width: 90%;
    font-size: 2em;
    margin: 0 auto;
    display: block;

    border-radius: 10px;
    border-style: outset;
    border-width: 2px;
}

#screen {
    font-size: 1em;
    padding: 10px;
    margin: 10px 0;
    width: 100%;

    text-align: right;

    border-radius: 10px;
}
