body {
    background-color: rgb(241, 241, 241);
}

.content {

    margin: 5%;

    padding: 2%;
    background-color: rgb(255, 242, 146);

    border-radius: 10px;
}

#title {
    color: black;
    font-weight: bolder;
}

#input_table {

}

#input_table tr td {
    padding: .4em;
}

#input_div {
    display: table;
    background-color: white;

    border-style: double;
    border-color: grey;

    margin-top: 2em;
    margin-bottom: 3em;
}

#status {
    font-weight: bold;
}

#btn_start {
    height: 5em;
    vertical-align: middle;
}
