.bold {
    font-weight: bold;
}



body {
    background-color: #ECECEC;
    /*TODO: Change?*/
    /*font-family: "Times New Roman", Times, serif;*/
}

#navbar {
    background-color: rgb(25, 138, 229);
}

.navbar-toggle {
    background-color: rgb(197, 197, 197);
}

#navmenu li a {
    /*    color: #E2E2E2;*/

    color: #ffffff;
    font-size: 13pt;
    font-weight: bold;
}

#navmenu li a:hover {
    color: #000000;

}

.section {


    padding-bottom: 2em;


    border-style: outset;
    border-width: 1px;
    border-color: #dedede;

    border-radius: 10px;
}

.section_nav {
    padding-bottom: 4em;
}

.section_title {
    font-family: 'Arvo', serif;
    font-weight: bold;

    font-size: 4em;

    display: table;
    margin-left: auto;
    margin-right: auto;
}

/* Sections */

#sec_home {
    background-color: #ffffff;
    padding-top: 10%;
}

#sec_about {
    background-image: url(/img/mountains-blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
}

#languages {
    background-color: rgba(43, 43, 43, 0.56);

}

#languages th {
    text-align: center;
}

#languages ul {
    padding: 0 15px;
}

#languages li {
    margin-bottom: 5px;
}


.web {
    font-weight: bolder;
    color: #FFB019;
}

#sec_portfolio {
    color: white;
    min-height: 60em;
    background-image: url(/img/projects.jpg);
    background-size: cover;
}

.portfolio_item {
    border-radius: 10px;
    border-width: 5px;
    border-color: #818181;
    border-style: ridge;
    padding: 10px;

    height: 15em;
    margin: .2em auto;

    width: 100%;

    background-color: rgba(217, 217, 217, 0.65);
}

.portfolio_link:link, .portfolio_link:focus, .portfolio_link:visited, .portfolio_link:active {
    margin: 2vh auto;

    /*display: table;*/
    font-size: 1.3em;
    text-align: center;
    color: white;
    text-decoration: none;    
}

.portfolio_clickable {
    margin: 2vh auto;

    /*display: table;*/
    font-size: 1.3em;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
}


.portfolio_clickable:hover {
    color: #1e0705;
}

.portfolio_link:hover {
    text-decoration: none;
    color: #1e0705;
}

.portfolio_img_div {
    height: 200px;
}

.vertical_center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.portfolio_img_div img {

    max-height: 200px;
    /*width: 95%;*/

}
